@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}
   html{
        scroll-behavior: smooth;
    }
    body{
      font-family: 'Montserrat', sans-serif;
        margin: 0;
  padding: 0;
}

.active{
  border-bottom: 2px solid #4F378B;
}